:root {
    --indigo: #4f46e5;
    --indigo-light: #7a73f0;
    --indigo-dark: #3e38c2;
    --lavender-blue: #e0e7ff;
    --ghost-white:#f2f5ff;
    --baby-blue:#b2c1ff;
    --charcoal: #1f2937;
    --cool-gray: #6b7280;
    --off-white: #f9fafb;
    --emerald: #10b981;
    --amber: #f59e0b;
    --coral-red: #ef4444;
}