{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <script>
        document.cookie = "csrftoken={{ csrf_token }}; path=/";
    </script>
    <link rel="icon" type="image/svg+xml" href="static/images/favicon.svg" />
    <head>
        {% vite_asset 'src/main.tsx' %}
        {% vite_hmr_client %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Share calendar</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
